/*color palette */
:root {
  --default-font-color: #4a4a4a;
  --default-font-shadow: #ffffff;
  --background: #f9f9f9;
  --white: #ffffff;
  --black: #000000;
  --red: #ff0000;
  --green: #008000;
  --blue: #0000ff;
  --accent: #000080;
  --accent-shadow: #00008042;
  --card-background: #ffffff;
  --card-background-text: #ff0000;
  --hover-shadow: #00800050;
  --warbg-color: #008000;
}

/* better defaults */
body {
  margin: 2% auto;
  background: var(--background);
  color: var(--default-font-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  line-height: 1.8;
  text-shadow: 0 1px 0 var(--default-font-shadow);
  max-width: 98%;
}

code {
  background: white;
}

a {
  border-bottom: 1px solid var(--default-font-color);
  color: var(--default-font-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 0;
}

/* simple rules */
.bold {
  font-weight: bold;
}

.black {
  color: var(--black);
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.hidden {
  visibility: hidden;
}

.button {
  cursor: pointer;
}

.warbg {
  animation-name: disappear;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.wargb-reverse {
  animation-name: disappear-reverse;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.card-background-text {
  color: var(--card-background-text);
}

.flipped {
  transform: rotate(180deg);
}

.flipped-text {
  writing-mode: vertical-rl;
}

.outline {
  border-style: solid;
  border-width: 1px;
  border-color: var(--default-font-color);
}

.outline-win {
  animation: pulse 600ms;
  box-shadow: 0 0 0 2em transparent;
  z-index: 20;
}

.outline-lost {
  border-style: solid;
  border-width: 0px;
  border-color: var(--red);
}

.outline-text {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.dealing-card-pc,
.dealing-card-player {
  position: absolute;
  transition: transform 0.1s ease-out;
  z-index: 10;
}

.animated-card-pc,
.animated-card-player {
  position: fixed;
  transition: all 0.3s ease-out;
  z-index: 100;
}

/* containers */
#game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/* card rules */
.card {
  display: flex;
  width: 14rem;
  height: 18rem;
  background: var(--card-background);
  border: 2px solid var(--accent-shadow);
  border-radius: 2px;
  box-shadow: 0 2px 8px var(--accent-shadow);
  padding: 0.5rem;
  margin: 0.5rem;
  box-sizing: border-box;
  z-index: 250;
}

.card-top {
  display: flex;
  flex-direction: column;
}

.card-body {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  line-height: 0;
  transform: rotate(180deg);
}

/* suit rules */
.suit-group {
  display: flex;
  align-items: center;
  margin: 0.7rem 0;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.align-items-flex-start {
  align-items: flex-start;
}

.default-letter-suit {
  font-size: 2.7rem;
  margin: 0 0.7rem;
  line-height: 0;
}

.small-letter-suit {
  font-size: 1.2rem;
  line-height: 1;
}

.double-letter-suit {
  font-size: 4rem;
}

.single-letter-suit {
  font-size: 6rem;
}

/* images */
.card-jack-1 {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background: var(--black);

  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chess-knight'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M8 16l-1.447 .724a1 1 0 0 0 -.553 .894v2.382h12v-2.382a1 1 0 0 0 -.553 -.894l-1.447 -.724h-8z' /%3E%3Cpath d='M9 3l1 3l-3.491 2.148a1 1 0 0 0 .524 1.852h2.967l-2.073 6h7.961l.112 -5c0 -3 -1.09 -5.983 -4 -7c-1.94 -.678 -2.94 -1.011 -3 -1z' /%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chess-knight'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M8 16l-1.447 .724a1 1 0 0 0 -.553 .894v2.382h12v-2.382a1 1 0 0 0 -.553 -.894l-1.447 -.724h-8z' /%3E%3Cpath d='M9 3l1 3l-3.491 2.148a1 1 0 0 0 .524 1.852h2.967l-2.073 6h7.961l.112 -5c0 -3 -1.09 -5.983 -4 -7c-1.94 -.678 -2.94 -1.011 -3 -1z' /%3E%3C/svg%3E");

  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}

.card-jack-1-red {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background: var(--red);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chess-knight'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M8 16l-1.447 .724a1 1 0 0 0 -.553 .894v2.382h12v-2.382a1 1 0 0 0 -.553 -.894l-1.447 -.724h-8z' /%3E%3Cpath d='M9 3l1 3l-3.491 2.148a1 1 0 0 0 .524 1.852h2.967l-2.073 6h7.961l.112 -5c0 -3 -1.09 -5.983 -4 -7c-1.94 -.678 -2.94 -1.011 -3 -1z' /%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chess-knight'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M8 16l-1.447 .724a1 1 0 0 0 -.553 .894v2.382h12v-2.382a1 1 0 0 0 -.553 -.894l-1.447 -.724h-8z' /%3E%3Cpath d='M9 3l1 3l-3.491 2.148a1 1 0 0 0 .524 1.852h2.967l-2.073 6h7.961l.112 -5c0 -3 -1.09 -5.983 -4 -7c-1.94 -.678 -2.94 -1.011 -3 -1z' /%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}

.card-queen-1 {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background: var(--black);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chess-queen' %3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M16 16l2 -11l-4 4l-2 -5l-2 5l-4 -4l2 11' /%3E%3Cpath d='M8 16l-1.447 .724a1 1 0 0 0 -.553 .894v2.382h12v-2.382a1 1 0 0 0 -.553 -.894l-1.447 -.724h-8z' /%3E%3Cpath d='M12 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /%3E%3Cpath d='M6 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /%3E%3Cpath d='M18 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chess-queen' %3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M16 16l2 -11l-4 4l-2 -5l-2 5l-4 -4l2 11' /%3E%3Cpath d='M8 16l-1.447 .724a1 1 0 0 0 -.553 .894v2.382h12v-2.382a1 1 0 0 0 -.553 -.894l-1.447 -.724h-8z' /%3E%3Cpath d='M12 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /%3E%3Cpath d='M6 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /%3E%3Cpath d='M18 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}

.card-queen-1-red {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background: var(--red);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chess-queen' %3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M16 16l2 -11l-4 4l-2 -5l-2 5l-4 -4l2 11' /%3E%3Cpath d='M8 16l-1.447 .724a1 1 0 0 0 -.553 .894v2.382h12v-2.382a1 1 0 0 0 -.553 -.894l-1.447 -.724h-8z' /%3E%3Cpath d='M12 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /%3E%3Cpath d='M6 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /%3E%3Cpath d='M18 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chess-queen' %3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M16 16l2 -11l-4 4l-2 -5l-2 5l-4 -4l2 11' /%3E%3Cpath d='M8 16l-1.447 .724a1 1 0 0 0 -.553 .894v2.382h12v-2.382a1 1 0 0 0 -.553 -.894l-1.447 -.724h-8z' /%3E%3Cpath d='M12 4m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /%3E%3Cpath d='M6 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /%3E%3Cpath d='M18 5m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0' /%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}

.card-king-1 {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background: var(--black);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chess-king'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M8 16l-1.447 .724a1 1 0 0 0 -.553 .894v2.382h12v-2.382a1 1 0 0 0 -.553 -.894l-1.447 -.724h-8z' /%3E%3Cpath d='M8.5 16a3.5 3.5 0 1 1 3.163 -5h.674a3.5 3.5 0 1 1 3.163 5z' /%3E%3Cpath d='M9 6h6' /%3E%3Cpath d='M12 3v8' /%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chess-king'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M8 16l-1.447 .724a1 1 0 0 0 -.553 .894v2.382h12v-2.382a1 1 0 0 0 -.553 -.894l-1.447 -.724h-8z' /%3E%3Cpath d='M8.5 16a3.5 3.5 0 1 1 3.163 -5h.674a3.5 3.5 0 1 1 3.163 5z' /%3E%3Cpath d='M9 6h6' /%3E%3Cpath d='M12 3v8' /%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}

.card-king-1-red {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background: var(--red);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chess-king'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M8 16l-1.447 .724a1 1 0 0 0 -.553 .894v2.382h12v-2.382a1 1 0 0 0 -.553 -.894l-1.447 -.724h-8z' /%3E%3Cpath d='M8.5 16a3.5 3.5 0 1 1 3.163 -5h.674a3.5 3.5 0 1 1 3.163 5z' /%3E%3Cpath d='M9 6h6' /%3E%3Cpath d='M12 3v8' /%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-chess-king'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M8 16l-1.447 .724a1 1 0 0 0 -.553 .894v2.382h12v-2.382a1 1 0 0 0 -.553 -.894l-1.447 -.724h-8z' /%3E%3Cpath d='M8.5 16a3.5 3.5 0 1 1 3.163 -5h.674a3.5 3.5 0 1 1 3.163 5z' /%3E%3Cpath d='M9 6h6' /%3E%3Cpath d='M12 3v8' /%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}

.card-joker-1 {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background: var(--green);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg fill='currentColor' height='100' width='100' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 463 463' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 463 463' %3E%3Cg%3E%3Cpath d='m183.5,176c-4.142,0-7.5,3.358-7.5,7.5v8c0,4.142 3.358,7.5 7.5,7.5s7.5-3.358 7.5-7.5v-8c0-4.142-3.358-7.5-7.5-7.5z' /%3E%3Cpath d='m279.5,176c-4.142,0-7.5,3.358-7.5,7.5v8c0,4.142 3.358,7.5 7.5,7.5s7.5-3.358 7.5-7.5v-8c0-4.142-3.358-7.5-7.5-7.5z' /%3E%3Cpath d='m272.229,242.03c-2.929-2.929-7.678-2.929-10.606,0-2.586,2.586-2.885,6.589-0.905,9.507-7.621,7.932-18.18,12.463-29.209,12.463-11.006,0-21.545-4.512-29.162-12.414 2.018-2.922 1.733-6.955-0.868-9.556-2.929-2.929-7.678-2.929-10.606,0l-8,8c-2.929,2.929-2.929,7.678 0,10.606 1.464,1.464 3.384,2.197 5.303,2.197 1.167,0 2.333-0.275 3.398-0.816 10.434,10.81 24.865,16.983 39.935,16.983 15.083,0 29.525-6.183 39.961-17.01 1.08,0.561 2.267,0.843 3.455,0.843 1.919,0 3.839-0.732 5.303-2.197 2.929-2.929 2.929-7.678 0-10.606l-7.999-8z' /%3E%3Cpath d='m423,191.5c0-15.208-8.888-28.743-21.997-35.258 3.883-6.182 5.997-13.339 5.997-20.742 0-21.78-17.72-39.5-39.5-39.5-2.578,0-5.175,0.275-7.771,0.823-7.322-10.51-19.182-16.823-32.229-16.823-16.588,0-30.811,10.283-36.654,24.805-20.594-63.138-52.23-100.528-53.652-102.186-1.424-1.662-3.505-2.619-5.694-2.619s-4.27,0.957-5.694,2.619c-1.421,1.658-33.058,39.048-53.652,102.186-5.843-14.522-20.066-24.805-36.654-24.805-13.047,0-24.907,6.313-32.229,16.823-2.596-0.548-5.193-0.823-7.771-0.823-21.78,0-39.5,17.72-39.5,39.5 0,7.403 2.114,14.561 5.997,20.742-13.109,6.515-21.997,20.05-21.997,35.258 0,13.047 6.313,24.907 16.823,32.229-0.547,2.596-0.823,5.193-0.823,7.771 0,16.972 10.615,31.677 26.314,37.185 5.508,15.699 20.213,26.315 37.186,26.315 9.999,0 19.582-3.803 26.852-10.54 4.396,3.209 9.064,6.177 13.979,8.871-0.001,0.005-0.003,0.009-0.005,0.014l-1.828,6.094-86.946,42.461c-13.626,6.654-19.297,23.153-12.643,36.778 4.763,9.753 14.568,15.43 24.754,15.43 4.045,0 8.151-0.896 12.024-2.787l41.296-20.167-6.119,20.398c-5.092,16.973-1.946,34.861 8.632,49.077 10.577,14.217 26.807,22.371 44.527,22.371h94.973c17.72,0 33.95-8.154 44.527-22.371 10.578-14.216 13.724-32.104 8.632-49.077l-6.14-20.468 41.439,20.237c3.874,1.892 7.978,2.787 12.023,2.787 10.185,0 19.992-5.678 24.754-15.43 6.654-13.625 0.983-30.124-12.643-36.778l-87.088-42.53-1.807-6.025c-0.001-0.005-0.003-0.009-0.005-0.014 4.91-2.692 9.575-5.658 13.968-8.864 7.268,6.733 16.848,10.533 26.844,10.533 16.973,0 31.678-10.616 37.186-26.315 15.698-5.508 26.314-20.213 26.314-37.185 0-2.578-0.276-5.175-0.823-7.771 10.51-7.322 16.823-19.182 16.823-32.229zm-191.491,104.5c-36.909,0-69.722-14.056-90.248-35.72 0.097-0.117 0.199-0.226 0.29-0.35 16.679-22.781 40.709-34.316 59.454-36.527 3.516,13.557 15.855,23.597 30.495,23.597s26.979-10.04 30.495-23.596c18.745,2.21 42.775,13.746 59.454,36.527 0.093,0.128 0.199,0.24 0.299,0.36-20.527,21.657-53.336,35.709-90.239,35.709zm-16.509-80.5c0-9.098 7.402-16.5 16.5-16.5s16.5,7.402 16.5,16.5-7.402,16.5-16.5,16.5-16.5-7.402-16.5-16.5zm116.379,32.708c-19.682-25.089-47.501-37.681-69.209-39.861-3.249-13.933-15.762-24.347-30.67-24.347s-27.421,10.414-30.671,24.346c-21.704,2.18-49.517,14.768-69.199,39.849-8.059-12.191-12.621-26.031-12.621-40.695 0-7.347 1.151-14.649 3.42-21.704 12.654-39.328 57.509-66.796 109.08-66.796 62.033,0 112.5,39.701 112.5,88.5 0,14.669-4.565,28.514-12.63,40.708zm-136.722-161.208h73.687c3.036,7.461 5.962,15.414 8.673,23.82-14.141-4.401-29.482-6.82-45.507-6.82-15.925,0-31.294,2.406-45.525,6.818 2.71-8.405 5.635-16.357 8.672-23.818zm14.988-32h43.711c2.792,5.235 5.638,10.909 8.462,17h-60.635c2.824-6.091 5.67-11.765 8.462-17zm21.855-35.222c3.402,4.669 8.083,11.482 13.352,20.222h-26.703c5.268-8.741 9.949-15.553 13.351-20.222zm-112,260.222c-11.466,0-21.263-7.827-23.825-19.035-0.642-2.807-2.833-4.998-5.64-5.64-11.207-2.562-19.035-12.359-19.035-23.825 0-2.801 0.56-5.702 1.663-8.621 1.373-3.633-0.254-7.713-3.751-9.404-8.581-4.149-13.912-12.57-13.912-21.975 0-12.074 9.077-22.446 21.114-24.126 2.937-0.41 5.356-2.512 6.173-5.363 0.817-2.851-0.123-5.915-2.398-7.818-5.649-4.725-8.889-11.539-8.889-18.693 0-13.509 10.991-24.5 24.5-24.5 2.801,0 5.701,0.56 8.621,1.663 3.636,1.374 7.713-0.254 9.404-3.751 4.149-8.581 12.569-13.912 21.975-13.912 13.509,0 24.5,10.991 24.5,24.5v2.304c-24.959,13.708-43.834,34.485-51.85,59.398-2.748,8.542-4.141,17.389-4.141,26.298 0,25.644 11.553,49.135 30.649,67.235-4.29,3.379-9.62,5.265-15.158,5.265zm-30.395,97.843c-3.001,1.465-6.392,1.675-9.549,0.589-3.157-1.085-5.703-3.335-7.168-6.335-1.465-3-1.674-6.392-0.589-9.549 1.085-3.157 3.335-5.703 6.335-7.168l11.992-5.857 11.181,22.362-12.202,5.958zm25.681-12.542l-11.181-22.362 49.025-23.942-9.779,32.598-28.065,13.706zm36.744,66.374c-7.719-10.375-10.015-23.428-6.299-35.813l28.798-95.994c15.176,6.249 32.088,10.101 49.98,10.948v137.184h-39.986c-12.931,0-24.774-5.951-32.493-16.325zm239.811-69.128c1.085,3.158 0.876,6.549-0.589,9.549-1.465,3-4.011,5.25-7.168,6.335s-6.548,0.876-9.549-0.589l-12.315-6.014 11.181-22.362 12.105,5.912c3,1.466 5.25,4.012 6.335,7.169zm-31.919-19.663l-11.181,22.362-28.094-13.72-9.779-32.598 49.054,23.956zm-41.634,52.978c3.715,12.385 1.419,25.438-6.299,35.813-7.719,10.374-19.563,16.325-32.493,16.325h-39.986v-137.184c17.892-0.847 34.804-4.699 49.98-10.948l28.798,95.994zm76.299-182.387c-3.497,1.69-5.124,5.771-3.751,9.404 1.104,2.919 1.663,5.82 1.663,8.621 0,11.466-7.828,21.263-19.035,23.825-2.807,0.642-4.999,2.833-5.64,5.64-2.561,11.208-12.359,19.035-23.824,19.035-5.534,0-10.86-1.883-15.148-5.256 19.101-18.101 30.658-41.596 30.658-67.244 0-35.579-22.232-67.021-56.009-85.657v-2.343c0-13.509 10.991-24.5 24.5-24.5 9.405,0 17.826,5.331 21.975,13.912 1.69,3.497 5.771,5.124 9.404,3.751 2.919-1.104 5.82-1.663 8.621-1.663 13.509,0 24.5,10.991 24.5,24.5 0,7.154-3.24,13.968-8.889,18.693-2.274,1.903-3.215,4.967-2.398,7.818 0.816,2.851 3.236,4.953 6.173,5.363 12.035,1.68 21.113,12.052 21.113,24.126 0,9.405-5.332,17.826-13.913,21.975z' /%3E%3Cpath d='m199.5,366c7.995,0 14.5-6.505 14.5-14.5s-6.505-14.5-14.5-14.5-14.5,6.505-14.5,14.5 6.505,14.5 14.5,14.5z' /%3E%3Cpath d='m263.5,366c7.995,0 14.5-6.505 14.5-14.5s-6.505-14.5-14.5-14.5-14.5,6.505-14.5,14.5 6.505,14.5 14.5,14.5z' /%3E%3Cpath d='m199.5,385c-7.995,0-14.5,6.505-14.5,14.5s6.505,14.5 14.5,14.5 14.5-6.505 14.5-14.5-6.505-14.5-14.5-14.5z' /%3E%3Cpath d='m263.5,385c-7.995,0-14.5,6.505-14.5,14.5s6.505,14.5 14.5,14.5 14.5-6.505 14.5-14.5-6.505-14.5-14.5-14.5z' /%3E%3C/g%3E%3C/svg %3E");
  mask-image: url("data:image/svg+xml,%3Csvg fill='currentColor' height='100' width='100' version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 463 463' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 463 463' %3E%3Cg%3E%3Cpath d='m183.5,176c-4.142,0-7.5,3.358-7.5,7.5v8c0,4.142 3.358,7.5 7.5,7.5s7.5-3.358 7.5-7.5v-8c0-4.142-3.358-7.5-7.5-7.5z' /%3E%3Cpath d='m279.5,176c-4.142,0-7.5,3.358-7.5,7.5v8c0,4.142 3.358,7.5 7.5,7.5s7.5-3.358 7.5-7.5v-8c0-4.142-3.358-7.5-7.5-7.5z' /%3E%3Cpath d='m272.229,242.03c-2.929-2.929-7.678-2.929-10.606,0-2.586,2.586-2.885,6.589-0.905,9.507-7.621,7.932-18.18,12.463-29.209,12.463-11.006,0-21.545-4.512-29.162-12.414 2.018-2.922 1.733-6.955-0.868-9.556-2.929-2.929-7.678-2.929-10.606,0l-8,8c-2.929,2.929-2.929,7.678 0,10.606 1.464,1.464 3.384,2.197 5.303,2.197 1.167,0 2.333-0.275 3.398-0.816 10.434,10.81 24.865,16.983 39.935,16.983 15.083,0 29.525-6.183 39.961-17.01 1.08,0.561 2.267,0.843 3.455,0.843 1.919,0 3.839-0.732 5.303-2.197 2.929-2.929 2.929-7.678 0-10.606l-7.999-8z' /%3E%3Cpath d='m423,191.5c0-15.208-8.888-28.743-21.997-35.258 3.883-6.182 5.997-13.339 5.997-20.742 0-21.78-17.72-39.5-39.5-39.5-2.578,0-5.175,0.275-7.771,0.823-7.322-10.51-19.182-16.823-32.229-16.823-16.588,0-30.811,10.283-36.654,24.805-20.594-63.138-52.23-100.528-53.652-102.186-1.424-1.662-3.505-2.619-5.694-2.619s-4.27,0.957-5.694,2.619c-1.421,1.658-33.058,39.048-53.652,102.186-5.843-14.522-20.066-24.805-36.654-24.805-13.047,0-24.907,6.313-32.229,16.823-2.596-0.548-5.193-0.823-7.771-0.823-21.78,0-39.5,17.72-39.5,39.5 0,7.403 2.114,14.561 5.997,20.742-13.109,6.515-21.997,20.05-21.997,35.258 0,13.047 6.313,24.907 16.823,32.229-0.547,2.596-0.823,5.193-0.823,7.771 0,16.972 10.615,31.677 26.314,37.185 5.508,15.699 20.213,26.315 37.186,26.315 9.999,0 19.582-3.803 26.852-10.54 4.396,3.209 9.064,6.177 13.979,8.871-0.001,0.005-0.003,0.009-0.005,0.014l-1.828,6.094-86.946,42.461c-13.626,6.654-19.297,23.153-12.643,36.778 4.763,9.753 14.568,15.43 24.754,15.43 4.045,0 8.151-0.896 12.024-2.787l41.296-20.167-6.119,20.398c-5.092,16.973-1.946,34.861 8.632,49.077 10.577,14.217 26.807,22.371 44.527,22.371h94.973c17.72,0 33.95-8.154 44.527-22.371 10.578-14.216 13.724-32.104 8.632-49.077l-6.14-20.468 41.439,20.237c3.874,1.892 7.978,2.787 12.023,2.787 10.185,0 19.992-5.678 24.754-15.43 6.654-13.625 0.983-30.124-12.643-36.778l-87.088-42.53-1.807-6.025c-0.001-0.005-0.003-0.009-0.005-0.014 4.91-2.692 9.575-5.658 13.968-8.864 7.268,6.733 16.848,10.533 26.844,10.533 16.973,0 31.678-10.616 37.186-26.315 15.698-5.508 26.314-20.213 26.314-37.185 0-2.578-0.276-5.175-0.823-7.771 10.51-7.322 16.823-19.182 16.823-32.229zm-191.491,104.5c-36.909,0-69.722-14.056-90.248-35.72 0.097-0.117 0.199-0.226 0.29-0.35 16.679-22.781 40.709-34.316 59.454-36.527 3.516,13.557 15.855,23.597 30.495,23.597s26.979-10.04 30.495-23.596c18.745,2.21 42.775,13.746 59.454,36.527 0.093,0.128 0.199,0.24 0.299,0.36-20.527,21.657-53.336,35.709-90.239,35.709zm-16.509-80.5c0-9.098 7.402-16.5 16.5-16.5s16.5,7.402 16.5,16.5-7.402,16.5-16.5,16.5-16.5-7.402-16.5-16.5zm116.379,32.708c-19.682-25.089-47.501-37.681-69.209-39.861-3.249-13.933-15.762-24.347-30.67-24.347s-27.421,10.414-30.671,24.346c-21.704,2.18-49.517,14.768-69.199,39.849-8.059-12.191-12.621-26.031-12.621-40.695 0-7.347 1.151-14.649 3.42-21.704 12.654-39.328 57.509-66.796 109.08-66.796 62.033,0 112.5,39.701 112.5,88.5 0,14.669-4.565,28.514-12.63,40.708zm-136.722-161.208h73.687c3.036,7.461 5.962,15.414 8.673,23.82-14.141-4.401-29.482-6.82-45.507-6.82-15.925,0-31.294,2.406-45.525,6.818 2.71-8.405 5.635-16.357 8.672-23.818zm14.988-32h43.711c2.792,5.235 5.638,10.909 8.462,17h-60.635c2.824-6.091 5.67-11.765 8.462-17zm21.855-35.222c3.402,4.669 8.083,11.482 13.352,20.222h-26.703c5.268-8.741 9.949-15.553 13.351-20.222zm-112,260.222c-11.466,0-21.263-7.827-23.825-19.035-0.642-2.807-2.833-4.998-5.64-5.64-11.207-2.562-19.035-12.359-19.035-23.825 0-2.801 0.56-5.702 1.663-8.621 1.373-3.633-0.254-7.713-3.751-9.404-8.581-4.149-13.912-12.57-13.912-21.975 0-12.074 9.077-22.446 21.114-24.126 2.937-0.41 5.356-2.512 6.173-5.363 0.817-2.851-0.123-5.915-2.398-7.818-5.649-4.725-8.889-11.539-8.889-18.693 0-13.509 10.991-24.5 24.5-24.5 2.801,0 5.701,0.56 8.621,1.663 3.636,1.374 7.713-0.254 9.404-3.751 4.149-8.581 12.569-13.912 21.975-13.912 13.509,0 24.5,10.991 24.5,24.5v2.304c-24.959,13.708-43.834,34.485-51.85,59.398-2.748,8.542-4.141,17.389-4.141,26.298 0,25.644 11.553,49.135 30.649,67.235-4.29,3.379-9.62,5.265-15.158,5.265zm-30.395,97.843c-3.001,1.465-6.392,1.675-9.549,0.589-3.157-1.085-5.703-3.335-7.168-6.335-1.465-3-1.674-6.392-0.589-9.549 1.085-3.157 3.335-5.703 6.335-7.168l11.992-5.857 11.181,22.362-12.202,5.958zm25.681-12.542l-11.181-22.362 49.025-23.942-9.779,32.598-28.065,13.706zm36.744,66.374c-7.719-10.375-10.015-23.428-6.299-35.813l28.798-95.994c15.176,6.249 32.088,10.101 49.98,10.948v137.184h-39.986c-12.931,0-24.774-5.951-32.493-16.325zm239.811-69.128c1.085,3.158 0.876,6.549-0.589,9.549-1.465,3-4.011,5.25-7.168,6.335s-6.548,0.876-9.549-0.589l-12.315-6.014 11.181-22.362 12.105,5.912c3,1.466 5.25,4.012 6.335,7.169zm-31.919-19.663l-11.181,22.362-28.094-13.72-9.779-32.598 49.054,23.956zm-41.634,52.978c3.715,12.385 1.419,25.438-6.299,35.813-7.719,10.374-19.563,16.325-32.493,16.325h-39.986v-137.184c17.892-0.847 34.804-4.699 49.98-10.948l28.798,95.994zm76.299-182.387c-3.497,1.69-5.124,5.771-3.751,9.404 1.104,2.919 1.663,5.82 1.663,8.621 0,11.466-7.828,21.263-19.035,23.825-2.807,0.642-4.999,2.833-5.64,5.64-2.561,11.208-12.359,19.035-23.824,19.035-5.534,0-10.86-1.883-15.148-5.256 19.101-18.101 30.658-41.596 30.658-67.244 0-35.579-22.232-67.021-56.009-85.657v-2.343c0-13.509 10.991-24.5 24.5-24.5 9.405,0 17.826,5.331 21.975,13.912 1.69,3.497 5.771,5.124 9.404,3.751 2.919-1.104 5.82-1.663 8.621-1.663 13.509,0 24.5,10.991 24.5,24.5 0,7.154-3.24,13.968-8.889,18.693-2.274,1.903-3.215,4.967-2.398,7.818 0.816,2.851 3.236,4.953 6.173,5.363 12.035,1.68 21.113,12.052 21.113,24.126 0,9.405-5.332,17.826-13.913,21.975z' /%3E%3Cpath d='m199.5,366c7.995,0 14.5-6.505 14.5-14.5s-6.505-14.5-14.5-14.5-14.5,6.505-14.5,14.5 6.505,14.5 14.5,14.5z' /%3E%3Cpath d='m263.5,366c7.995,0 14.5-6.505 14.5-14.5s-6.505-14.5-14.5-14.5-14.5,6.505-14.5,14.5 6.505,14.5 14.5,14.5z' /%3E%3Cpath d='m199.5,385c-7.995,0-14.5,6.505-14.5,14.5s6.505,14.5 14.5,14.5 14.5-6.505 14.5-14.5-6.505-14.5-14.5-14.5z' /%3E%3Cpath d='m263.5,385c-7.995,0-14.5,6.505-14.5,14.5s6.505,14.5 14.5,14.5 14.5-6.505 14.5-14.5-6.505-14.5-14.5-14.5z' /%3E%3C/g%3E%3C/svg %3E");
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}

.card-back-1 {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background: var(--green);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-swords' %3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M21 3v5l-11 9l-4 4l-3 -3l4 -4l9 -11z' /%3E%3Cpath d='M5 13l6 6' /%3E%3Cpath d='M14.32 17.32l3.68 3.68l3 -3l-3.365 -3.365' /%3E%3Cpath d='M10 5.5l-2 -2.5h-5v5l3 2.5' /%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-swords' %3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M21 3v5l-11 9l-4 4l-3 -3l4 -4l9 -11z' /%3E%3Cpath d='M5 13l6 6' /%3E%3Cpath d='M14.32 17.32l3.68 3.68l3 -3l-3.365 -3.365' /%3E%3Cpath d='M10 5.5l-2 -2.5h-5v5l3 2.5' /%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}

.card-back-2 {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background: var(--blue);
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-play-card' %3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M19 5v14a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2z' /%3E%3Cpath d='M8 6h.01' /%3E%3Cpath d='M16 18h.01' /%3E%3Cpath d='M12 16l-3 -4l3 -4l3 4z' /%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='icon icon-tabler icons-tabler-outline icon-tabler-play-card' %3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none' /%3E%3Cpath d='M19 5v14a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2z' /%3E%3Cpath d='M8 6h.01' /%3E%3Cpath d='M16 18h.01' /%3E%3Cpath d='M12 16l-3 -4l3 -4l3 4z' /%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
}

/* animations */

.card-ready:hover {
  box-shadow: 0 0px 26px var(--hover-shadow);
  transition: all 0.2s ease-in-out 0s;
  transform: translateY(-0.25em);
}

.card-ready:active {
  transform: scale(0.95);
}

.card-flip {
  animation: flipCard 0.6s ease-out;
  backface-visibility: visible;
}

.war-card-pc,
.war-card-player {
  position: absolute;
  transition: transform 0.5s ease-out;
  z-index: 10;
}

@keyframes flipCard {
  0% {
    transform: perspective(600px) rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(600px) rotateY(0deg);
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--accent);
  }
}

@keyframes disappear {
  from {
    background-color: var(--background);
  }
  to {
    background-color: var(--warbg-color);
  }
}

@keyframes disappear-reverse {
  from {
    background-color: var(--warbg-color);
  }
  to {
    background-color: var(--background);
  }
}

/* fireworks */
.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84,
    190px 16.33333px #002bff, -113px -308.66667px #ff009d,
    -109px -287.66667px #ffb300, -50px -313.66667px #ff006e,
    226px -31.66667px #ff4000, 180px -351.66667px #ff00d0,
    -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00,
    -69px -27.66667px #ff0400, -111px -339.66667px #6200ff,
    155px -237.66667px #00ddff, -152px -380.66667px #00ffd0,
    -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00,
    -88px 10.33333px #0d00ff, 112px -309.66667px #005eff,
    69px -415.66667px #ff00a6, 168px -100.66667px #ff004c,
    -244px 24.33333px #ff6600, 97px -325.66667px #ff0066,
    -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff,
    140px -196.66667px #9000ff, 125px -175.66667px #00bbff,
    118px -381.66667px #ff002f, 144px -111.66667px #ffae00,
    36px -78.66667px #f600ff, -63px -196.66667px #c800ff,
    -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff,
    -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2,
    91px -278.66667px #000dff, -22px -191.66667px #9dff00,
    139px -392.66667px #a6ff00, 56px -2.66667px #0099ff,
    -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb,
    -238px -346.66667px #00ff73, 62px -363.66667px #0088ff,
    244px -170.66667px #0062ff, 224px -142.66667px #b300ff,
    141px -208.66667px #9000ff, 211px -285.66667px #ff6600,
    181px -128.66667px #1e00ff, 90px -123.66667px #c800ff,
    189px 70.33333px #00ffc8, -18px -383.66667px #00ff33,
    100px -6.66667px #ff008c;
  -moz-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white;
  }
}
@-moz-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white;
  }
}
@-o-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white;
  }
}
@-ms-keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white;
  }
}
@keyframes bang {
  from {
    box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white,
      0 0 white, 0 0 white, 0 0 white;
  }
}
@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}
@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-moz-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-o-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@-ms-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

.bounce {
  animation: bounce 3s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateY(20px);
  }
  60% {
    transform: translateY(10px);
  }
}

/* misc */
.zoom-slider {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: var(--background);
}

/* scoreboard */
#scoreboard {
  overflow: auto;
  background: var(--background);
  border: 1px solid var(--accent-shadow);
  width: 100%;
  border-collapse: collapse;
  border-spacing: 1rem;
  text-align: center;
  z-index: 980;
}

#scoreboard-title {
  padding-top: 1.5rem;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.sticky + #game-container {
  padding-top: 12rem;
}

/* modal */
.topbar {
  color: var(--default-font-color);
  background-color: var(--background);
  z-index: 9999;
}

.topbar > a {
  border-bottom: 0px;
  padding: 0.2rem 0.2rem;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked ~ .modal,
input[type="checkbox"]:checked ~ .modal-background {
  display: block;
}

.modal-background {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 9998;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: none;
  width: 50%;
  height: 50%;
  background-color: var(--background);
  box-sizing: border-box;
  z-index: 9999;
}

.modal > p {
  padding: 15px;
  margin: 0;
}

.modal-header {
  background-color: var(--accent);
  border-bottom: 1px solid var(--accent-shadow);
  box-sizing: border-box;
  height: 2rem;
}

.modal-header h3 {
  color: var(--white);
  margin: 0;
  box-sizing: border-box;
  padding-left: 1rem;
  display: inline-block;
}

.modal-header label {
  color: var(--white);
  box-sizing: border-box;
  float: right;
  padding: 0 1rem 0 1rem;
  cursor: pointer;
}

.modal-body {
  background-color: var(--background);
  padding-left: 1rem;
}

.modal-body > p {
  margin: 0;
}

.modal-footer {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  box-sizing: border-box;
}

/* debug */
.debug {
  border-style: dotted;
  border-color: var(--red);
}

/* media queries */

/* Styles for small screens (e.g., phones) */
@media (max-width: 575px) {
  .card {
    width: 3.5rem;
    height: 4.5rem;
    padding: 0.1rem;
    margin: 0.5rem;
  }

  .small-letter {
    font-size: 0.4rem;
  }

  .suit-group {
    display: none;
  }

  .small-letter-suit {
    font-size: 0.7rem;
  }

  .default-letter-suit {
    display: none;
  }

  .single-letter-suit {
    display: none;
  }

  .double-letter-suit {
    display: none;
  }

  .card-back-1 {
    display: none;
  }

  .card-back-2 {
    display: none;
  }
}

/* Styles for small screens in landscape orientation */
@media (min-width: 576px) and (max-width: 767px) {
  .card {
    width: 6rem;
    height: 8rem;
    padding: 0.2rem;
    margin: 0.5rem;
  }

  .small-letter {
    font-size: 0.5rem;
  }

  .suit-group {
    margin: 0.2rem 0;
  }

  .small-letter-suit {
    font-size: 0.7rem;
    line-height: 0.7rem;
  }

  .default-letter-suit {
    font-size: 1rem;
    margin: 0 0.1rem;
    line-height: 0;
  }

  .single-letter-suit {
    font-size: 2rem;
  }

  .double-letter-suit {
    font-size: 1.5rem;
  }

  .card-jack-1 {
    width: 2rem;
    height: 2rem;
  }

  .card-jack-1-red {
    width: 2rem;
    height: 2rem;
  }

  .card-queen-1 {
    width: 2rem;
    height: 2rem;
  }

  .card-queen-1-red {
    display: inline-block;
    width: 2rem;
    height: 2rem;
  }

  .card-king-1 {
    width: 2rem;
    height: 2rem;
  }
  .card-king-1-red {
    width: 2rem;
    height: 2rem;
  }

  .card-joker-1 {
    width: 3rem;
    height: 3rem;
  }

  .card-back-1 {
    width: 3rem;
    height: 3rem;
  }

  .card-back-2 {
    width: 3rem;
    height: 3rem;
  }

  #scoreboard-title {
    padding-top: 0rem;
  }
}

/* Styles for medium screens (e.g., tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .card {
    width: 10rem;
    height: 14rem;
    padding: 0.4rem;
    margin: 0.5rem;
  }

  .suit-group {
    margin: 0.1rem 0;
  }

  .small-letter-suit {
    font-size: 1.1rem;
  }

  .default-letter-suit {
    font-size: 1.9rem;
    margin: 0 0.7rem;
  }

  .single-letter-suit {
    font-size: 5rem;
  }

  .double-letter-suit {
    font-size: 3.5rem;
  }
}

/* TODO Add these styles */

/* Styles for large screens (e.g., desktops) */
/*@media (min-width: 992px) and (max-width: 1199px) {
} */

/* Styles for extra large screens (e.g., large desktops) */
/*@media (min-width: 1200px) {
}*/
